.trailercalendar-modal-background {
  display: none;
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1, 1, 1, 0.6);
}

.trailercalendar-modal {
  z-index: 201;
  display: block;
  position: relative;
  padding: 0 20px 20px 20px;
  top: 50%;
  margin-top: -165px;
  width: 615px;
  height: 340px;
  margin: 0 auto;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 20px 20px 40px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

select {
  display: inline-block;
  border-radius: 3px;
  padding: 7px;
  border: 1px solid #eee;
  font-size: 1rem;
}

textarea {
  display: inline-block;
  border-radius: 3px;
  padding: 7px;
  border: 1px solid #eee;
  vertical-align: top;
  font-size: 1rem;
}

.tbctable {
  border: 0;
}

td.infotxt.tbctable.info {
  padding-top: 12px;
  vertical-align: top;
}

td.knapperne {
  text-align: right;
}

.infotxt {
  text-align: right;
  padding-right: 10px;
}

button.tbc {
  display: inline;
  margin-top: 20px;
  padding: 7px 20px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 1rem;
}

button.tbc.submit {
  background-color: #00e500;
  font-weight: 700;
}
